services:
  client:
    image: "client-image:latest"
    environment:
      VITE_API_URL: ${VITE_API_URL}
      VITE_WS_URL: ${VITE_WS_URL}
      VITE_LIVEKIT_CLOUD_URL: ${VITE_LIVEKIT_CLOUD_URL}
    restart: unless-stopped
    
  server:
    image: "server-image:latest"
    environment:
      JWT_SECRET: ${JWT_SECRET}
      REDIS_URL: ${REDIS_URL}
      RMQ_URL: ${RMQ_URL}
      LIVEKIT_URL: ${LIVEKIT_URL}
      LIVEKIT_API_KEY: ${LIVEKIT_API_KEY}
      LIVEKIT_API_SECRET: ${LIVEKIT_API_SECRET}
    depends_on:
      - redis
      - rabbitmq
    restart: unless-stopped
    
  redis: 
    image: redis:8.4-alpine
    volumes: [redis-data:/data]
    restart: unless-stopped
  
  rabbitmq:
    image: rabbitmq:4.2-alpine
    volumes: [rabbitmq-data:/var/lib/rabbitmq]
    restart: unless-stopped

volumes:
  redis-data:
  rabbitmq-data: